.movie-page {
  color: #fff;
  display: grid;
  max-width: 600px;
  margin: 2rem auto;
  gap: 1rem;

  svg {
    font-size: 1.5rem;
    color: greenyellow;
  }

  .movie-card {
    text-align: center;

    img,
    h2,
    p {
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
    }
  }

  .tagline {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }


  .description p {
    line-height: 1.4rem;
  }
}